<div id="SendEmailGroupEmail"> 
    <div class="text-success niceLabel bold" data-bind="html: InfoMessageEmail"></div><br/>
    <input type="button" id="btnSendEmail" class="btn btn-primary" value="Send Email" data-bind="click: SendEmail" />
    <br />
    <span class="text-danger niceLabel  bold " data-bind="text: MessageSM"></span><br/> 
    <div class="GroupMembership" id="UserGroupMembership"> 
        <div class="editable" data-bind="html: EmailContent" ></div>
    </div>
    <br />
    <input type="button" id="btnSendEmail" class="btn btn-primary" value="Send Email" data-bind="click: SendEmail" />
</div>