<div id="DivCommitteeMsg" class="savebtn">
    <div id="spnMessage" class="spnMessage text-danger margin-topbot10 niceLabel bold"></div>
    <span class="text-danger margin-topbot10 niceLabel bold" data-bind='text: $data.errorMessage()'></span>
</div>

<div id="DivSaveCommitteeRoles" class="savecommitteeroles savebtn">
    <button class="btn btn-primary" type='submit' onclick="saveA4ACommitteeRoles()">Save Council/Committee Unlimited Alternates</button>
</div>

<div id="DivCouncilCommiteeMsg" style="margin-top:10px">
    <span class="text-left text-danger niceLabel italic margin-topbot10  bold" data-bind="text:errorMessage()"></span>
    <span class="text-left text-success niceLabel italic margin-topbot10 bold" data-bind="text:infoMessage()"></span>
</div>
<br />
<p>
    <span class="bold " style="vertical-align:middle; font-size:12px">Contact:</span>
    <input type="text" class="chosen form-control" style="width:200px;" id="ggaUser" placeholder="Enter Username.." data-bind="ko_autocomplete: { source: GetAllUserWithCompany,select: selectPrimAltUser,minLength: 3 }" />
    <a href='#' class='text-danger' data-bind="click: clearGGAUser" style="font-size: 12px; ">Delete</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <span class="bold " style="vertical-align: middle; font-size: 12px">Role:</span>
    <select id="inpGGAGroupRole" class="form-control" data-bind="options: Roles, optionsText: 'name', optionsValue: 'id', value:role, event:{ change: selectPrimAltUser4Company}, optionsCaption: 'Choose Role'" style="width:180px;"></select>
</p>
<br />

<div>
    <div class="control-label col-sm-12" style="padding-left:0px">
        <label class="niceLabel">Leadership</label>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="padding-left:0px">Company</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Role</th>
                <th>Email Admin</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span data-bind='text: CompanyName'></span></td>
                <td><span data-bind="text: Name"></span></td>
                <td><input type='checkbox' name='EmailAdmin' data-bind="value:UserId, checked:CheckStatus" onchange="chkInformationalRoles(this)" /></td>
                <td><a href='#' style="font-size: 12px;" data-bind='click: $parent.removeUMInfoContacts'>Delete</a></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:10px">
    <div class="control-label col-sm-12" style="padding-left:0px">
        <label class="niceLabel">Primary, Alternates, Informational Contacts</label>
    </div>

    <table class="table" data-bind='visible: $data.selectedUserCompanyValues().length > 0'>
        <thead>
            <tr>
                <th style="padding-left:0px">Company</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Role</th>
                <th>Email Admin</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $data.selectedUserCompanyValues().sort(function(l,r) { return l.Name == r.Name ? 0 : (l.Name < r.Name ? -1 : 1)}) ">
            <tr>
                <td><span data-bind='text: CompanyName'></span></td>
                <td><span data-bind="text: FirstName"></span></td>
                <td><span data-bind="text: LastName"></span></td>
                <td><span data-bind="text: RoleName"></span></td>
                <td><input type='checkbox' name='EmailAdmin' data-bind="value:UserId, checked:CheckStatus" onchange="chkInformationalRoles(this)" /></td>
                <td><a href='#' style="font-size: 12px;" data-bind='click: $parent.removeUMInfoContacts'>Delete</a></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>