<div id="DivCommitteeMsg" class="savebtn">
    <div id="spnMessage" class="spnMessage text-danger margin-topbot10 niceLabel bold"></div>
    <span class="text-danger margin-topbot10 niceLabel bold" data-bind='text: $data.errorMessage()'></span>
</div>

<div id="DivSaveCommitteeRoles" class="savecommitteeroles savebtn">
    <button class="btn btn-primary" type='submit' onclick="saveA4ACommitteeRoles()">Save Council/Committee Unlimited Alternates</button>
</div>

<div class="row">
    <div class="control-label col-sm-1">
        <label class="control-label niceLabel"> Email Administrator</label>
    </div>

    <div class="control-label col-sm-3">
        <label class="niceLabel"> Chair</label>
    </div>

    <div class="control-label col-sm-1">
        <label class="niceLabel"> Email Administrator</label>
    </div>

    <div class="control-label col-sm-3">
        <label class="niceLabel"> Vice Chair</label>
    </div>
</div>

<div class='row'>
    <div class='col-sm-1' style='text-align:center'>
        <input type='checkbox' name='EmailAdmin' style='padding-left:1px;' data-bind='event:{ change: $data.selectchkCommitteeStaff}, checked:CheckStatusCommitteeStaff' />
    </div>
    <div class='col-sm-3'>
        <input type="text" class="chosen form-control" style="width:300px;margin-top:-7px;" id="GroupChairGGA" data-bind="ko_autocomplete: { source: getLanguagesCommittee, select: selectCommitteeChair ,minLength: 3 }" />
        <a href='#' class='text-danger' style='padding-left:1px;' data-bind='click: $data.removeCommitteeChairGroupUser'>Delete</a>
    </div>
    <div class='col-sm-1' style='text-align:center'>
        <input type='checkbox' name='EmailAdmin' style='padding-left:1px;' data-bind='event:{ change: $data.selectchkCommitteeGroupUser}, checked:CheckStatusCommitteeGroupUser' />
    </div>
    <div class='col-sm-3'>
        <input type="text" class="chosen form-control" style="width:300px;margin-top:-7px;" id="GroupViceChairGGA" data-bind="ko_autocomplete: { source: getLanguagesCommittee, select: selectCommitteeViceChair ,minLength: 3 }" />
        <a href='#' class='text-danger' style='padding-left:1px;' data-bind='click: $data.removeCommitteeViceChairGroupUser'>Delete</a>
    </div>
</div>

<div id="DivCouncilCommiteeMsg">
    <span class="text-left text-danger niceLabel italic margin-topbot10  bold" data-bind="text:errorMessage()"></span>
    <span class="text-left text-success niceLabel italic margin-topbot10 bold" data-bind="text:infoMessage()"></span>
</div>
<br />

<p>
    <span class="bold " style="vertical-align:middle;">Contact:</span>
    <input type="text" class="chosen form-control" style="width:200px;" id="ggaUser" placeholder="Enter Username.." data-bind="ko_autocomplete: { source: GetAllUserWithCompany,select: selectPrimAltUser,minLength: 3 }" />
    <a href='#' class='text-danger' data-bind="click: clearGGAUser" style="font-size:1em;">Delete</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="bold " style="vertical-align:middle;">Role:</span>
    <select id="inpGGAGroupRole" class="form-control" data-bind="options: Roles, optionsText: 'name', optionsValue: 'id', value:role, event:{ change: selectPrimAltUser4Company}, optionsCaption: 'Choose Role'" style="width:180px;"></select>
</p>
<br />
<ul data-bind="foreach:Companies">
    <li>
        <h2 class="text-justify text-info bold niceLabel" data-bind="text:name"></h2>
        <ul data-bind="foreach: $parent.people.index.CompanyName()[$data.name]">
            <li style="margin-left:20px;">
                <div class="row padding-4">
                    <div class="col-lg-3">
                        <input type="checkbox" name="EmailAdmin" data-bind="value:UserId, checked:CheckStatus" onchange="EmailAdmin(this)" />
                        <span data-bind="text: Name"></span>
                    </div>
                    <div class="col-lg-1">
                        <span class="niceLabel-default italic text-info" data-bind="text: Type"></span>
                    </div>
                    <div id="DivRemoveCommitteePrimAlt" class="col-lg-1">
                        <a href="#" class='text-danger' data-bind="click: $parents[1].removeCommitteePrimAlt">Delete</a>
                    </div>
                </div>
            </li>
        </ul>
        <hr />
    </li>
</ul>