<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
    <add key="DataObjectConnectionStringName" value="ATA_MembershipConnection"/>
		<!-- begin:user manager app settings-->
		<!-- Valid Current Sites are "Fuels" or "Members" -->
		<add key="UserManagerCurrentSite" value="Fuels"/>
		<!-- User Management Page Locations -->
		<add key="UserManagerProfilePageUrl" value="/management/Pages/UserProfileEditor.aspx"/>
		<add key="UserManagerProfileLandingPageUrl" value="/management/Pages/default.aspx"/>
		<add key="UserManagerGroupManagerPageUrl" value="/management/Pages/GroupManager.aspx"/>
		<add key="UserManagerMyGroupsPageUrl" value="/management/Pages/MyGroups.aspx"/>
		<add key="UserManageMemberTypeManagerPageUrl" value="/management/Pages/MemberTypeManager.aspx"/>
		<add key="UserManageMemberForgotPasswordPageUrl" value="/Login/Pages/ForgotPassword.aspx"/>
		<add key="MyProfilePageUrl" value="/management/Pages/Profile.aspx"/>
		<add key="UserManagerProfileViewPage" value="/Pages/ViewProfile.aspx"/>
		<add key="NewUserWizardPageUrl" value="/management/Pages/NewUserCreationWizard.aspx"/>
		<add key="UserManageMemberJobTitleManagerPageUrl" value="/Pages/UserManagement/JobTitleManager.aspx"/>
		<add key="NewUserWizardCompanyListPath" value="http://fuelsad/Lists/Airlines/all.aspx"/>
		<!-- ATA SMTP Server information-->
		<add key="ATASMTPServer" value="mail.ata.org"/>
		<add key="ATASMTPServerPort" value=""/>
		<add key="ATADeliveryMethod" value=""/>
		<!-- Including {0} will insert the current site title in that spot -->
		<add key="NewUserEmailSubjectFormatString" value="Welcome to the {0} site"/>
		<!-- Including {0} will insert the current site root url (http://www.somesite.com) -->
		<!-- Or omit the {0} and enter an absolute path to the style sheet -->
		<!-- Or leave it blank and the <link /> tag will be omitted from the email -->
		<add key="NewUserEmailStyleSheetUrlFormatString" value="{0}/Style%20Library/CustomStyles/UserManagement.css"/>
		<!-- The subject of the email sent to a user who resetes their password -->
		<add key="ATAResetPasswordEmailSubject" value="The ATA Membership information you requested."/>
		<!-- The address from which the reset email appears to come-->
		<add key="ATAResetPasswordEmailFrom" value="usermanagement@airlines.org"/>
		<!-- The subject of the email sent to a user who recovers their password -->
		<add key="ATAForgotPasswordEmailSubject" value="The ATA Membership information you requested."/>
		<!-- The address from which the recover password email appears to come-->
		<add key="ATAForgotPasswordEmailFrom" value="usermanagement@airlines.org"/>
	 
		<!-- end:user manager app settings-->
		<add key="MembersSiteFormsAuthURL" value="http://memberportal.airlines.org"/>
		<add key="NewUserEmailFromAddress" value="memberportal@airlines.org"/>
		<add key="ContactProfilePage" value="/management/Pages/ContactProfile.aspx"/>
		<add key="FacilitiesListUrl" value="http://fuelsad/Lists/Airport%20Summary/Highlights.aspx"/>
		<add key="MembersGroupAdminADGroup" value="MemberSiteAdmins"/>
		<add key="ATAMyInactiveSponsoredUsers" value="/Pages/MyInactiveSponsoredUsers.aspx"/>
		<add key="InsuranceTest" value="/committees/insurance/default.aspx"/>
		<add key="SkipLyrisManager" value="SkipLyrisManager"/> 
		<add key="ATAFuelsLyrisLists" value="TestList1"/> 
		<add key="LyrisListName" value="LyrisListName"/>
		<add key="ImportDataFromLyrisToMember" value="ImportDataFromLyrisToMember"/>
		<add key="TestEmailPrefix" value="Test1"/>
		<add key="FuelsSiteUrl" value="http://fuelsad"/>
    <add key="FuelsAlertListName" value="Fuel Alerts"/>
		<add key="applyFuelsSecurityOnly" value="applyFuelsSecurityOnly"/> 
	</appSettings>
	<connectionStrings>
    <add name="ATA_MembershipConnection" connectionString="Server=sqldevV01;Database=ATA_Membership_RegSQL1;Uid=ATAMembershipUser;Pwd=Password!;Pooling=false;Max Pool Size=200"/>
    <!--ATA_Membership_UM-->
    <add name="LyrisListDb" connectionString="Server=SQLDEVV01;Database=Lists;Uid=ATAMembershipUser;Pwd=Password!"/>
  </connectionStrings>
</configuration>
