body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width:98%;
    min-height:78%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select  {
    max-width: 220px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
} 
/*JQuery auto complete*/
.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}


 /***Added from Group- index.html by NA - clean later*/
     .ms-rteTable-default > tbody > tr > td,
    .ms-rteTable-default > div,
    .ms-rteTable-default > tbody > tr > th,
    .ms-rteTable-0 > tbody > tr > td,
    .ms-rteTable-0 > tbody > tr > th {
        padding: 7px 5px 6px;
        vertical-align: top;
        text-align: left;
    }

    .form-horizontal input:not([type="radio"]), .ms-rteTable-default textarea, .ms-rteTable-default select,
    .ms-rteTable-default button, .sp-peoplepicker-topLevel, div.ms-inputuserfield, .ms-rtestate-field[contenteditable], .ms-socialCommentInputBox {
      /* background: #ddd none repeat scroll 0 0; */ 
        border: 1px solid #ccc;
        margin: 0;
        padding: 0.5em;
        width: 30em;
    }

    .blue.z-tabs > ul, .blue.z-tabs > ul > li > a, .blue.z-tabs > .z-container {
        border: 0 !important;
    }

    input.error {
        color: red;
        border-color: red;
    }

    .info, .success, .warning {
    padding:5px;
    margin-bottom:5px;
    }

.info {
    color: #00529B;
    background-color: #BDE5F8  !important;

}
.dark-info{
    color: #00529B;
    background-color: #0184cd  !important;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C !important;
    font-weight:bold !important;
    border-color:red !important;
}
.margin10 {
        margin:10px;
}
.color-white{
    color:white;
}
#loading-img {
    background: url(http://preloaders.net/preloaders/360/Velocity.gif) center center no-repeat !important;
    height: 100%;
    z-index: 20;
}
.overlay {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index:1000 !important;
}  /*style for disabled tabs*/
 .z-tabs > ul.z-tabs-nav > li.z-disabled
 {
     filter: alpha(opacity=45);
     opacity: .45;
 }
 /*style for disabled tabs*/
.z-tabs > ul.z-tabs-nav > li.z-disabled > a.z-link
 {  cursor: default!important;
    outline: 0;
 }
/**Color for selected */ 
.blue.z-tabs > ul > li.z-active > a {
    background-color: #1abde7 !important ; /*lightblue !important;*/
    color: #000f4d;
    text-shadow: 0px 1px rgba(78,78,78,0.1); 
    /*opacity: 0.5;*/
}
.form-control {
    display:inline;
}
/** To Add autocomplete scroll bar **/
.ui-autocomplete {
     max-height: 400px;
     overflow-y: auto;
     /* prevent horizontal scrollbar */
     overflow-x: hidden;
     z-index:2000;
     line-height:1.1em; 
     width:250px;
     background-color: #eee; /*Added by NA for backgroup for ko_autocomplete results***/
     border:1px solid lightblue
}

.deleteX
{
    padding-left: 1px; font-size: 16px; margin-right: 20px; vertical-align: middle;
}
.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0 
}
.ui-autocomplete { 
    border-radius: 0px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}
.ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/

.nomargin{
     margin: 0 !important;
}
 * html .ui-autocomplete {
     height: 400px;
 }

 .niceLabel { 
    position:relative; 
    font-family:Helvetica,sans-serif;
    font-size: 12px; 
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}
  .niceLabel-default { 
    position:relative; 
   font-family:Helvetica,sans-serif;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}
  .niceLabel-bold {  
      position:relative; 
    font-family:Helvetica,sans-serif;
    font-size: 16px;  
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    font-weight:bold;  
    text-transform:uppercase;

}
  #Headtitle{
      display:inline-block;
      font-size:18px;
  }
  .niceLabel-black { 
    position:relative; 
    font-family:Helvetica,sans-serif; 
    font-weight:bold;
    font-size: 12px;
    color: #080101;
    text-transform:none;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; 
}
 .niceLabel-italic-blue { 
    position:relative;
    /*font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;*/
    font-family:Helvetica,sans-serif;
    font-style: italic;
    font-weight:bold;
    font-size: 12px;
    color: #21ADDF;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; 
}
 .niceLabel-subheading-blue { 
    position:relative;
    /*font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;*/
    font-family:Helvetica,sans-serif; 
    font-weight:bold;
    font-size: 16px;
    color: #21ADDF;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; 
}
 .niceLabel-subheading-grey { 
    position:relative;
    /*font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;*/
    font-family:Helvetica,sans-serif; 
    font-weight:bold;
    font-size: 16px;
    color: #666;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; 
}
 .font-small { 
    font-size: 11px;
}
.font-medium {
    font-weight:bold;
    font-size: 20px;
}
.font-large {
        font-weight:bold;
    font-size: 26px;
} 
.italic {
    font-style:italic;
}
.bold{
    font-weight:bold;
}

.nopadding{
    padding:0;
}

 #SubTitle{
     font-style:italic; 
 }
.col-sm-4 , .col-sm-3, .niceLabel-subheading-grey{ 
    margin-bottom: 6px;
}
.breadcrumb a{
    color:#428bca !important;       
}
.breadcrumb {
    float: left;
    background: transparent;
    margin-top: 0px; 
    position: relative; 
    right: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color:#428bca;      
    margin-bottom:10px;  
}
.breadcrumb > li + li:before {
    content: '>\00a0';
}
.heading_droid{ position:relative; /*font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;*/
                font-family:Helvetica,sans-serif;
    font-size: 24px;
    color:dimgrey;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    font-weight:bold; }


h2 { color: #428bca; font-family:Helvetica,sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center; }

 .preloader {
        background: rgba(255,255,255,0.9);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 9998;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
    }

        .preloader img {
            position: fixed;
            z-index: 9999;
            top: 40%;
            left: 45%;
        }
  /***Remove datatable lines from under header*/  
  table.dataTable thead td
  {
      border-bottom:none;
  }
table.dataTable tfoot td
{
      border-bottom:none;
      border-top:none;
  }
table.dataTable.no-footer
    {
      border-bottom:none;
  }

.nowrap {
    white-space: nowrap;
}
.padding-4{
    padding:4px;
}
.padding-10{
    padding:10px;
}
.paddingbot-10{
    padding-bottom:10px !important;
}
/*/Over ride z-tabs/*/
.z-tabs > .z-container > .z-content > .z-content-inner
{
    padding:0 15px !important;
}
.z-tabs {font-size: 12px !important;} 

/**Overwritte form group - bootstrap.css**/
.form-control {
    height: auto;
    padding: 5px !important;
    
} .form-group {
       margin-bottom: 6px;     

  }
  .text-success
  {
      color:limegreen !important;
  }
  /**Overwritte Bootstrap */
  hr{
      margin-top:10px;
      margin-bottom:10px;
  }
  /***Zozo tabs*/
.z-tabs.medium > ul > li > a {
    font-size: 10px !important;
}
.um-footer{
    background-color:#fff;color:#666;border-top:3px solid #428bca;padding:0 15px;height:100px;width:98%;margin-left:auto;margin-right:auto;
}
.ui-helper-hidden-accessible
{
    display: none;
}

/**Wizywig**/
.missionwizywig
    {
    background: #f8f8f8;
    height: 67px;
    border-top: 1px solid #d1d1d1;
    /*border-bottom: 1px solid #d1d1d1;*/
    border-left: 1px solid #d1d1d1;
}

 
