<div class='A4AStaffContainer' id="A4AStaffContainer"> 
    <div class="overlay">
        <div id="loading-img"></div>
    </div>
    <span class="text-success niceLabel margin-topbot10  bold" data-bind="text: InfoMessage"></span> 
    <h3 class="text-danger niceLabel margin-topbot10  bold" data-bind="text: ErrorMessage"></h3> 
    <br />
    <div class="fleft">
        <button class="z-btn  btn btn-primary" data-bind='click: save, enable: A4AStaff().length > 0' type='submit'>Save A4A Staff Roles</button>
    </div>
    <br /><br />
    <p>You have selected <span data-bind='text: A4AStaff().length'>&nbsp;</span> A4A Staff(s) roles</p>
    
    <div>
       <select class="chosen form-control" id="a4astaffchosen" style="width:300px;" data-bind="options: A4AStaffList,
       selectedOptions: selected,optionsText:'name',
       value:A4AStaffSelected, optionsCaption: 'Choose..',chosen: {}"></select>
    </div>     
    <table class="table" data-bind='visible: A4AStaff().length > 0'>
        <thead>
            <tr>
                <th class="niceLabel">Name</th>
                <th class="niceLabel">Mange Group</th>
                <th class="niceLabel">Email Administrator</th>
                <th class="niceLabel">Receive Bounce Reports</th>
                <th class="niceLabel">Subscribe</th>
                @*<th class="niceLabel">Alerts</th>*@
            </tr>
        </thead>
        <tbody data-bind="foreach: A4AStaff().sort(function(l,r) { return l.Name == r.Name ? 0 : (l.Name < r.Name ? -1 : 1)}) ">
            <tr>
                <td><span class='required niceLabel' data-bind='text: Name'> </span></td>
                <td><input type="checkbox" data-bind='checked: ManageGroup' />  </td>
                <td><input type="checkbox" data-bind='checked: EmailAdmin' />  </td>
                <td><input type="checkbox" data-bind='checked: BounceReports' />  </td>
                <td><input type="checkbox" data-bind='checked: StaffSubscribe' />  </td>
                @*<td><input type="checkbox" data-bind='checked: Alerts' />  </td>*@
                <td><a href='#' data-bind='click: $parent.removeA4AStaff'>Delete</a></td>
            </tr>
        </tbody>
    </table>    
    <br /><br />
    <div class="fleft">
        <button class="z-btn  btn btn-primary" data-bind='click: save, enable: A4AStaff().length > 0' type='submit'>Save A4A Staff Roles</button>
    </div> 
</div>

 
