 

<div> 
    <span class='text-danger niceLabel margin-topbot10' id ='errorPrimUser'></span>
     
</div>
    <div class="row">
        <div class="control-label col-sm-2">
            <label class="control-label   niceLabel"> Company</label>
        </div>
        <div class="control-label col-sm-5">
            <label class="niceLabel"> Primary</label>
        </div>
        <div class="control-label col-sm-5">
            <label class="niceLabel">  Alternate</label>
        </div>
    </div>


    <primaryalternate params="Company: 'American Airlines'">
    </primaryalternate>

    <primaryalternate params="Company: 'Alaska Airlines'">
    </primaryalternate>

    <primaryalternate params="Company: 'Atlas Air'">
    </primaryalternate>

    <primaryalternate params="Company: 'FedEx'">
    </primaryalternate> 

    <primaryalternate params="Company: 'Hawaiian Airlines'">
    </primaryalternate>

    <primaryalternate params="Company: 'JetBlue Airways'">
    </primaryalternate>

    <primaryalternate params="Company: 'Southwest Airlines'">
    </primaryalternate>

    <primaryalternate params="Company: 'UPS'">
    </primaryalternate>

    <primaryalternate params="Company: 'United Airlines'">
    </primaryalternate>
 
