<div class="TaskForceSubscriber" id="TaskForceSubscriber">

    <p>You have selected <span data-bind='text: $data.selectedTskForUser().length'>&nbsp;</span> Subscribers</p> <br/>
    <H2 class="text-danger margin-topbot10 niceLabel bold" data-bind='text: $data.errorMessage()'></H2><br/>
 

    <label for="name-search">Contact: </label>
    <p>
        <select id="inpGroupRole" class="form-control"
                data-bind="options: Roles, optionsText: 'name', optionsValue: 'id', value:role"></select> 
        <input type="text" class="chosen form-control" style="width:300px;" id="name-search" data-bind="ko_autocomplete: { source: GetAllUsers, select: selectTskFrGroupUser ,minLength: 3 }" />
    </p> 
    <table class="table" data-bind='visible: $data.selectedTskForUser().length > 0'>
        <thead>
            <tr>
                <th class="control-label">Name</th>
                <th class="control-label">Role</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $data.selectedTskForUser().sort(function(l,r) { return l.Name == r.Name ? 0 : (l.Name < r.Name ? -1 : 1)}) ">
           <tr>
                <td><span data-bind='text: Name'></span> <span data-bind='text: CompanyName'></span></td>
                <td><span data-bind='text: role'></span></td>
                <td><a href='#' data-bind='click: $parent.removeUMContacts'>Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>


 
