<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
			<section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
			<section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
		<section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" /><section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" /></sectionGroup></configSections>
   <connectionStrings>
     <!---Development-->
     <add name="ATA_MembershipConnection" connectionString="Server=sqldevV01;Database=ATA_Membership_RegSQL1;Uid=ATAMembershipUserNew;Pwd=Password!;Pooling=false;Max Pool Size=200" />   
     <add name="LyrisListDb" connectionString="Server=SQLDEVV01;Database=Lists;Uid=ATAMembershipUser;Pwd=Password!" />

     <!---Lyris Upgraded-->
     <!--<add name="ATA_MembershipConnection" connectionString="Server=sqldevV01;Database=ATA_Membership_RegSQL1;Uid=ATAMembershipUserNew;Pwd=Password!;Pooling=false;Max Pool Size=200" />  -->
     <!--<add name="LyrisListDb" connectionString="Server=SQL02;Database=LYRIS;Uid=ATAMembershipUser;Pwd=Password!" />-->
    
     <!---Production-->
     <!--<add name="ATA_MembershipConnection" connectionString="Server=sql01;Database=ATA_Membership;Uid=ATAMembershipUser;Pwd=Password!;Pooling=false;Max Pool Size=200" />
     <add name="LyrisListDb" connectionString="Server=SQL01;Database=ATALYRIS;Uid=ATAMembershipUser;Pwd=Password!" />-->  
     
    <add name="ATA_Membership_ER_UMEntities" connectionString="metadata=res://*/Models.ATAMembership.csdl|res://*/Models.ATAMembership.ssdl|res://*/Models.ATAMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqldevv01;initial catalog=ATA_Membership_ER_UM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ATA_SLOTSEntities" connectionString="metadata=res://*/Slots_4Diagram.csdl|res://*/Slots_4Diagram.ssdl|res://*/Slots_4Diagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql01;initial catalog=ATA_SLOTS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!---Added from dev.Memberport.airlines.org -->
    <add key="SusQTechActiveDirectoryManagerDomain" value="ata.org" />
    <add key="SusQTechActiveDirectoryManagerADUser" value="susqtech" />
    <add key="SusQTechActiveDirectoryManagerADPassword" value="$usK$yTK" />
    <add key="SusQTechActiveDirectoryManagerADUsersPath" value="" />
    <add key="SusQTechActiveDirectoryManagerWSSUrl" value="" />
    
    <!-- ATA SMTP Server information-->
    <add key="ATASMTPServer" value="mail.ata.org" />
    <add key="ATASMTPServerPort" value="" />
    <add key="ATADeliveryMethod" value="" />

    <!-- ATA SMTP Server information-->
    <add key="ATASMTPServer" value="mail.ata.org" />
    <add key="ATASMTPServerPort" value="" />
    <add key="ATADeliveryMethod" value="" />
    <!-- Including {0} will insert the current site title in that spot -->
    <add key="NewUserEmailSubjectFormatString" value="Welcome to the {0} site" />
    <!-- Including {0} will insert the current site root url (http://www.somesite.com) -->
    <!-- Or omit the {0} and enter an absolute path to the style sheet -->
    <!-- Or leave it blank and the <link /> tag will be omitted from the email -->
    <add key="NewUserEmailStyleSheetUrlFormatString" value="{0}/Style%20Library/CustomStyles/UserManagement.css" />
    <!-- The subject of the email sent to a user who resetes their password -->
    <add key="ATAResetPasswordEmailSubject" value="The ATA Membership information you requested." />
    <!-- The address from which the reset email appears to come-->
    <add key="ATAResetPasswordEmailFrom" value="usermanagement@airlines.org" />
    <!-- The subject of the email sent to a user who recovers their password -->
    <add key="ATAForgotPasswordEmailSubject" value="The ATA Membership information you requested." />
    <!-- The address from which the recover password email appears to come-->
    <add key="ATAForgotPasswordEmailFrom" value="usermanagement@airlines.org" />
    <!-- PROD SusQTech.LyrisManager configuration settings -->
     <!--<add key="SusQTechLyrisManagerUrl" value="http://lists.airlines.org:82/soap/lmapi" />
    <add key="SusQTechLyrisManagerUsername" value="admin" />
    <add key="SusQTechLyrisManagerPassword" value="!STmgr#" />
    <add key="SusQTechLyrisManagerEmail" value="lyrisadmin@airlines.org" />
    <add key="SusQTechLyrisManagerEmailAddressBase" value="@lists.airlines.org" />-->
    
    <!-- DEV SusQTech.LyrisManager configuration settings --> 
    <add key="SusQTechLyrisManagerUrl" value="http://listsdev.airlines.org:82/soap/lmapi" />
    <add key="SusQTechLyrisManagerUsername" value="admin" />
    <add key="SusQTechLyrisManagerPassword" value="1!ZtM@nR" />
    <add key="SusQTechLyrisManagerEmail" value="admin@a4a.org" />
    <add key="SusQTechLyrisManagerEmailAddressBase" value="@listsdev.airlines.org" />
    
    <!-- NEW Upgraded Test SusQTech.LyrisManager configuration settings --> 
    <!--<add key="SusQTechLyrisManagerUrl" value="http://Lyris.airlines.org:82/soap/lmapi" />
    <add key="SusQTechLyrisManagerUsername" value="admin" />
    <add key="SusQTechLyrisManagerPassword" value="7DE$8zwaXa" />
    <add key="SusQTechLyrisManagerEmail" value="lyrisadmin@airlines.org" />
    <add key="SusQTechLyrisManagerEmailAddressBase" value="@Lyris.airlines.org" />-->
    
    
    <!-- Added for DataObjects connection string -->
    <!--Adding contacts to AD-->
      <add key="ADUser" value="ata\susqtech" />
      <add key="ADPassword" value="$usK$yTK" />
      <add key="OUPath" value="DC=ata,DC=org" />
      <add key="OUName" value="UserManagementContacts" />
      <add key="ADPath" value="OU=MemberPortal Lists,OU=Lyris Lists,DC=ata,DC=org" />
      <add key="FromAddress" value="Error@airlines.org" />
      <add key="ToAddress" value="ITReports@airlines.org" />
      <add key="Filter" value="(&amp; (mailnickname=*))" />
      <add key="ConnectionString" value="Server=SQL01;Database=ATA_Membership;Uid=ATAMembershipUser;Pwd=Password!;" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
      <add key="LyrisEmailDomain" value="@lists.airlines.org" />
      <add key="UserManagerCurrentSite" value="Members" /> 
      <add key="DataObjectConnectionStringName" value="ATA_MembershipConnection" />
  </appSettings>
  <system.web> 
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="180"  /> 
    <authentication mode="Windows"  /> 
  
    <authorization>
       <allow users="*" /> 
    </authorization>
      <machineKey validationKey="CC7E874F7E743DDFBE03D78719D7A74CE869016270CD7201" decryptionKey="3DA3B4460994E5BE37FFE8644E6AFC00D02F0638417FBFF8" validation="SHA1" />
    <membership defaultProvider="ATAMembershipProvider">
      <providers>
        <clear />        
        <add name="ATAMembershipProvider" type="ATA.Authentication.Providers.ATAMembershipProvider, ATA.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=65b988712bd31de0" enablePasswordRetrieval="true" enablePasswordReset="true" applicationName="/" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordFormat="Encrypted" passwordStrengthRegularExpression="" passwordAttemptWindow="10" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" connectionStringName="ATA_MembershipConnection" />
      </providers>
    </membership>
    <roleManager defaultProvider="ATARoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear />
           <add applicationName="/" name="ATARoleProvider" type="ATA.Authentication.Providers.ATARoleProvider, ATA.Authentication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=65b988712bd31de0" connectionStringName="ATA_MembershipConnection" />
      </providers>
    </roleManager>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
 </system.web> 
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules> 
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="300000" maxUrl="300000" />  
      </requestFiltering>
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  <validation validateIntegratedModeConfiguration="false" /> 
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />System.Web.WebPages
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
       
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). --><legacyHMACWarning enabled="0" /><!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 --></runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers> 
  </entityFramework> 
<system.net>
		<defaultProxy enabled="true" />
		<settings>
			<!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
			<!--<servicePointManager checkCertificateRevocationList="true"/>-->
		</settings>
	</system.net><dotNetOpenAuth>
		<messaging>
			<untrustedWebRequest>
				<whitelistHosts>
					<!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
					<!--<add name="localhost" />-->
				</whitelistHosts>
			</untrustedWebRequest>
		</messaging>
		<!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
		<reporting enabled="true" />
	<!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. --><!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ --><openid>
		<relyingParty>
				<security requireSsl="false">
					<!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
					<!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
				</security>
				<behaviors>
					<!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
					<add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
				</behaviors>
			</relyingParty></openid></dotNetOpenAuth><uri>
		<!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
		     which is necessary for OpenID urls with unicode characters in the domain/host name.
		     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
		<idn enabled="All" />
		<iriParsing enabled="true" />
	</uri></configuration>