<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>
<style>
    /*.contact-detail {
            display: flex;
            justify-content: center;
        }*/
    .main-div {
        display: flex;
        justify-content: space-between
    }
</style>

<input type="button" id="btnInactive" class="btn btn-primary" value="Remove" data-bind='visible:removebtn(),click: InActivateUser' />
<form id="A4AUserProperties" role="form" class="form-horizontal">
    <div class="overlay">
        <div id="loading-img"></div>
    </div>
    <div class="row">
        <!--<div style="display:flex;justify-content:flex-start">-->@*  *@
        <span class="niceLabel-bold">Contact Details</span>
        @*<table id="tblSubscribers" class="niceLabel-default  display" style="display:none" width="100%">
                <thead>
                    <tr>
                        <th>GroupName</th>
                        <th>GroupTypeName</th>
                        <th>Roles</th>
                    </tr>
                </thead>
            </table>

            <button id="exporttoexcel" class="btn btn-primary" style="margin-right:22rem">Export to Excel</button>*@
        <!--</div>-->
        <br />
        <br />
        <div class="col-lg-13">
            <div class="main-div">
                <div class="left-div col-lg-6" style="margin-left:-1.2rem;">
                    <div class="form-group" style="margin-bottom:0px;">
                        <span class="niceLabel col-sm-3 bold">Email:<span class="text-danger">*</span></span>
                        <input id="inpEmail" class="NoEdit form-control" type="text" data-rel="none" data-bind="visible:isNonMember,value: UserName,css:{'error':ShowErr}, valueUpdate: 'afterkeydown'" />

                        <span class="bubble" data-bind="validationMessage:  $data.UserName "></span>
                        <span id="spnEmail" class="niceLabel" data-bind="visible: !isNonMember() && edit,text: UserName"></span>

                    </div>
                    <div class="form-group">
                        <span class="col-sm-3"></span>
                        <span class="col-sm-9 font-small  text-muted" style="padding-left:0px;" data-bind="visible:!edit()">
                            <i> Must Contain "&#64;". Email addresses ending in 'airlines.org' are not allowed.</i>
                        </span>
                    </div>

                    <div class="form-group" style="margin-bottom:0px;">
                        <span class="niceLabel col-sm-3 bold">Company:<span class="text-danger">*</span></span>
                        <input type="text" data-rel="none" class="chosen form-control col-sm-9" style="width:300px;" id="txtCompanyName"
                               data-bind="visible:isNonMember,ko_autocomplete: { source: getCompany, select: selectedCompany ,minLength: 3 },css:{'error':ShowErr},value:$data.CompanyName" />
                        <span class="bubble" data-bind="validationMessage:  $data.CompanyName "></span>
                        <span class="bubble" data-bind="validationMessage:  $data.CompanyId "></span>
                        <span class="bubble CompanyValid" style="display:none;">Invalid CompanyName. Please Create a New Company before proceeding..<br /></span>
                        <a id="hypCreateNewCompany" data-bind="visible:isNonMember" target="_blank" href="http://fuelportal.airlines.org/_layouts/15/A4A.UMtoFPAddCompany/AddCompany.aspx" style="margin-left:1rem;">Create A New Company</a>
                        <span id="spnCompanyName" class="niceLabel" data-bind="visible: !isNonMember() && showCompanyLabel,text: CompanyName"></span>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3"></span>
                        <span class="col-sm-9 font-small  text-muted" style="padding-left:0px;" data-bind="visible:!showCompanyLabel()">
                            <i>Member companies have access to all groups. Non-member companies have access to all groups except for council and committees</i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="niceLabel col-sm-3 bold">First Name:<span class="text-danger">*</span></span>
                        <input id="inpFirstname" class="form-control" type="text" data-rel="none" data-bind="value: FirstName,css:{'error':ShowErr}, valueUpdate: 'afterkeydown'" />
                        <span class="bubble" data-bind="validationMessage:  $data.FirstName "></span>
                    </div>
                    <div class="form-group">
                        <span class="niceLabel col-sm-3 bold">Last Name:<span class="text-danger">*</span></span>
                        <input id="inpLastname" class="form-control" type="text" data-rel="none" data-bind="value: LastName,css:{'error':ShowErr}, valueUpdate: 'afterkeydown'" />
                        <span class="bubble" data-bind="validationMessage:  $data.LastName "></span>
                    </div>
                    <div class="form-group">
                        <label for="inpJobTitle" class="niceLabel col-sm-3">Job Title:</label>
                        <input id="inpJobTitle" class="form-control" type="text" data-rel="none" data-bind="value: JobTitle,css:{'error':ShowErr}, valueUpdate: 'afterkeydown'" />
                    </div>

                    <div class="form-group" style="margin-bottom:0px;">
                        <label for="inpOfficePhone" class="niceLabel col-sm-3">Office Phone:</label>
                        <span>
                            <input type="text" class="form-control" data-rel="none" style="width:40px;" data-bind="value:OfficePhoneCC" />
                            <span class="bubble" style="position:absolute" data-bind="validationMessage:  $data.OfficePhoneCC "></span>
                        </span>
                        <input id="inpOfficePhone" type="text" data-rel="none" class="form-control" data-bind="value:OfficePhone" style="width: 177px;" />
                        <label for="inpOfficePhoneExt" class="niceLabel">Ext:</label>
                        <input id="inpOfficePhoneExt" type="text" data-rel="none" class="form-control" data-bind="value:OfficePhoneExtension" style="width: 110px;" />
                        <span class="bubble" data-bind="validationMessage:  $data.OfficePhone "></span>
                        <span class="bubble" data-bind="validationMessage:  $data.OfficePhoneExtension "></span>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3"></span>
                        <span style="font-size: 11px; color: #777; padding-left: 0px;padding-right:5px">
                            <i>Country</i>
                        </span>
                        <span style="font-size: 11px; color: #777; padding-left: 0px; ">
                            <i>Enter only digits</i>
                        </span>
                    </div>
                    <div class="form-group" style="margin-bottom:0px;">
                        <label for="inpOfficePhone" class="niceLabel col-sm-3">Mobile Phone:</label>
                        <span>
                            <input type="text" class="form-control" data-rel="none" style="width:40px;" data-bind="value:MobilePhoneCC" />
                            <span class="bubble" style="position:absolute" data-bind="validationMessage:  $data.MobilePhoneCC "></span>
                        </span>
                        <input id="inpOfficePhone" type="text" data-rel="none" class="form-control" data-bind="value:MobilePhone" style="width: 177px;" />
                        <span class="bubble" data-bind="validationMessage:  $data.MobilePhone "></span>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3"></span>
                        <span style="font-size: 11px; color: #777; padding-left: 0px;padding-right:5px">
                            <i>Country</i>
                        </span>
                        <span style="font-size: 11px; color: #777; padding-left: 0px; ">
                            <i>Enter only digits</i>
                        </span>
                    </div>
                    <div class="form-group" style="margin-bottom:0px;">
                        <label for="inpFax" class="niceLabel col-sm-3">Fax:</label>
                        <span>
                            <input type="text" class="form-control" data-rel="none" style="width:40px;" data-bind="value:PrimaryFaxCC" />
                            <span class="bubble" style="position:absolute" data-bind="validationMessage:  $data.PrimaryFaxCC "></span>
                        </span>
                        <input id="inpFax" type="text" data-rel="none" class="form-control" data-bind="value:PrimaryFax" style="width: 177px;" />
                        <span class="bubble" data-bind="validationMessage:  $data.PrimaryFax "></span>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3"></span>
                        <span style="font-size: 11px; color: #777; padding-left: 0px;padding-right:5px">
                            <i>Country</i>
                        </span>
                        <span style="font-size: 11px; color: #777; padding-left: 0px; ">
                            <i>Enter only digits</i>
                        </span>
                    </div>
                    <div class="form-group" style="margin-bottom:0px;">
                        <label for="inpHomePhone" class="niceLabel col-sm-3">Home Phone:</label>
                        <span>
                            <input type="text" class="form-control" data-rel="none" style="width:40px;" data-bind="value:HomePhoneCC" />
                            <span class="bubble" style="position:absolute" data-bind="validationMessage:  $data.HomePhoneCC "></span>
                        </span>
                        <input id="inpHomePhone" type="text" data-rel="none" class="form-control" data-bind="value:HomePhone" style="width: 177px;" />
                        <span class="bubble" data-bind="validationMessage:  $data.HomePhone "></span>
                        @*<br /><span class="font-small  text-muted"><i>Enter only digits</i></span>*@
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3"></span>
                        <span style="font-size: 11px; color: #777; padding-left: 0px;padding-right:5px">
                            <i>Country</i>
                        </span>
                        <span style="font-size: 11px; color: #777; padding-left: 0px; ">
                            <i>Enter only digits</i>
                        </span>
                    </div>
                    <br />
                    <br />
                    <fieldset id="access-fieldset" style="display:flex;">
                        <legend class="niceLabel-bold" style="color: #666;margin-right:15px;">Site Access</legend>
                        <div style="padding-bottom: 0.8em;width:20rem" data-bind="visible:!isNew()">
                            <label for="chkActiveContact" class="niceLabel">Is Active Contact:</label>
                            <input ID="chkActiveContact" type="checkbox" data-bind="checked: IsActiveContact,enable: $data.UserGroups().length < 1" style="width: 17px;" />
                        </div>
                        <div class="form-group" style="margin-right: 5rem;margin-left: 2rem;width:20rem" data-bind="visible: isEconUser()">
                            <label for="FuelPortal" class="niceLabel">Fuel Portal:</label>
                            <input type="radio" name="FuelPortal" value="Yes" data-bind="checked: rdoFuel, enable: IsActiveContact()&&isEconNonPublicContact()" /> Yes
                            <input type="radio" name="FuelPortal" value="No" data-bind="checked: rdoFuel, enable: IsActiveContact()&&isEconNonPublicContact()" /> No
                        </div>
                        <div class="form-group" style="width:20rem">
                            <label for="MemberPortal" class="niceLabel" style="margin-left: 0rem">A4A Portal:</label>
                            <input type="radio" name="MemberPortal" id="rdoMembers" value="Yes" data-bind="checked: rdoMembers, enable:(IsActiveContact()&&(!isMemberCompany()))" /> Yes
                            <input type="radio" name="MemberPortal" id="rdoMembers" value="No" data-bind="checked: rdoMembers, enable:(IsActiveContact()&&(!isMemberCompany()))" /> No
                            <div class="text-success niceLabel bold" data-bind="html: InfoMessageMembers"></div>
                        </div>


                        @*<div class="form-group" data-bind="visible: isACHUser">
                                <label for="ACH" class="niceLabel col-sm-6">ACH:</label>
                                <input type="radio" name="ACH" value="Yes" data-bind="checked: rdoACH, enable: IsActiveContact" /> Yes
                                <input type="radio" name="ACH" value="No" data-bind="checked: rdoACH, enable: IsActiveContact" /> No
                            </div>*@
                        <!--Commented by NA because of changes asked by JD/SM in Sep 1st version of changes-->
                        @*<div style="padding-bottom: 0.8em;" data-bind="visible:!isNew()">
                                <span style="font-weight: bold;" class="niceLabel text-warning">Password</span>
                                <br />
                                <input id="inpPassword" type="text" data-rel="none" class="form-control" data-bind="value:Password" />
                            </div>*@
                    </fieldset>
                </div>
                <div class="right-div col-lg-7">
                    <div class="form-group" style="margin-bottom:0px;">
                        <label for="inpWebPage" class="niceLabel col-sm-2">Web Page:</label>
                        <input id="inpFax" type="text" data-rel="none" class="form-control" data-bind="value:WebPage" />
                        <span class="bubble" data-bind="validationMessage:  $data.WebPage "></span>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-2"></span>
                        <span class="col-sm-8 font-small  text-muted" style="padding-left:0px;">
                            <i>Ex: http://www.airlines.org</i>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="inpTwitter" class="niceLabel col-sm-2">Twitter:</label>
                        <input id="inpTwitter" type="text" data-rel="none" class="form-control" data-bind="value:Twitter" />
                    </div>
                    <div class="form-group">
                        <label for="inpFacebook" class="niceLabel col-sm-2">Facebook:</label>
                        <input id="inpFacebook" type="text" data-rel="none" class="form-control" data-bind="value:Facebook" />
                    </div>
                    <div class="form-group">
                        <label for="inpLinkedIn" class="niceLabel col-sm-2">LinkedIn:</label>
                        <input id="inpLinkedIn" type="text" data-rel="none" class="form-control" data-bind="value:LinkedIn" />
                    </div>
                    <div class="form-group">
                        <label for="inpAddress1" class="niceLabel col-sm-2">Address 1:</label>
                        <input id="inpAddress1" class="form-control" type="text" data-bind="value:Address1" />
                    </div>
                    <div class="form-group">
                        <label for="inpAddress2" class="niceLabel col-sm-2">Address 2:</label>
                        <input id="inpAddress2" class="form-control" type="text" data-bind="value:Address2" />
                    </div>
                    <div class="form-group">
                        <label for="inpCity" class="niceLabel col-sm-2">City:</label>
                        <input id="inpCity" type="text" data-rel="none" class="form-control" data-bind="value:City" />
                    </div>
                    <div class="form-group">
                        <label for="inpState" class="niceLabel col-sm-2">State:</label>
                        <input id="inpState" type="text" data-rel="none" class="form-control" data-bind="value:State" />
                    </div>
                    <div class="form-group">
                        <label for="inpZipCode" class="niceLabel col-sm-2">Zip Code:</label>
                        <input id="inpZipCode" type="text" data-rel="none" class="form-control" data-bind="value:ZipCode" />
                    </div>
                    <div class="form-group">
                        <label for="inpProvince" class="niceLabel col-sm-2">Province:</label>
                        <input id="inpProvince" type="text" data-rel="none" class="form-control" data-bind="value:Province" />
                    </div>
                    <div class="form-group">
                        <label for="inpCountry" class="niceLabel col-sm-2">Country:</label>
                        <input id="inpCountry" type="text" data-rel="none" class="form-control" data-bind="value:Country" />
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                    <label for="inpGooglePlus" class="niceLabel col-sm-3">Google+:</label>
                    <input id="inpGooglePlus" type="text" data-rel="none" class="form-control" data-bind="value:GooglePlus" />
                </div>
                <div class="form-group">
                    <label for="inpPinterest" class="niceLabel col-sm-3">Pinterest:</label>
                    <input id="inpPinterest" type="text" data-rel="none" class="form-control" data-bind="value:Pinterest" />
                </div>*@
        </div>
        <div>
            <div class="text-danger niceLabel col-lg-20" data-bind="visible: ShowErr, text: 'Please fix all errors before submitting!'"></div><br />
            <div class="text-danger niceLabel  col-lg-20 bold " data-bind="html: ErrorMessage"></div>
            <div class="text-success niceLabel col-lg-20 bold" data-bind="html: InfoMessage"></div>
            <br />
            <input type="button" id="btnAddGroupTop" class="btn btn-primary" style="width:4em !important" value="Save" data-bind="click: SaveUser" />
            <input type="button" id="btnAddGroupRight" class="btn btn-primary" style="width:12em !important" value="Save/Add New Contact" data-bind="click: SaveUserAndAddNew" />
        </div>
        <br />
    </div>

</form>
<div style="text-align:center">
    <h4 style="background-color:bisque;border-radius:5px"><i>If the sections below are inactive, please complete the required information above and hit “Save” to activate.</i></h4>
</div>
@*<div class="row">
        <div class="fleft">
            <input type="button" id="btnAddGroup" class="btn btn-primary" value="Save Contact Details" data-bind="click: SaveUser" />
        </div>
    </div>*@
<script>
    // var getUrlParameter = function getUrlParameter(sParam) {
    //            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
    //                sURLVariables = sPageURL.split('&'), sParameterName, i;
    //            for (i = 0; i < sURLVariables.length; i++) {
    //                sParameterName = sURLVariables[i].split('=');
    //                if (sParameterName[0] === sParam) {
    //                    return sParameterName[1] === undefined ? true : sParameterName[1];
    //                }
    //            }
    //        };
    //var uid = parseInt(getUrlParameter('uid'));

    //if (uid > 0) {
    //    var query = "/api/getgroupuserlist/?userid=" + uid;
    //    $.ajax({
    //        url: query,
    //        type: "GET",
    //        datatype: "json",
    //        processData: false,
    //        contentType: "application/json; charset=utf-8",
    //        success: function (result) {
    //            var table = $("#tblSubscribers").DataTable({
    //                "aaData": JSON.parse(result),
    //                retrieve: true,
    //                "deferRender": true,
    //                bAutoWidth: false,
    //                dom: 'Bfrtip',
    //                buttons: [
    //                    'excelHtml5'
    //                ],
    //                aoColumns: [
    //                    { mData: "GroupName", "sClass": "nowrap", "visible": false },
    //                    { mData: "GroupTypeName", "visible": false },
    //                    { mData: "Roles", "visible": false }
    //                ],
    //                "bInfo": false,
    //                "oLanguage": {
    //                    "sEmptyTable": "No Subscribers found for the group."
    //                }
    //            });
    //            $('#tblSubscribers').parents('div.dataTables_wrapper').first().hide();
    //        },
    //        error: function (exception) { $("#errorMessage").text('Exception in getting A4A Groups:' + exception.responseText); }
    //    }).done(function () {
    //        $(".preloader").hide();
    //    });
    //}
    //else {
    //    $('#exporttoexcel').hide()
    //}

    //$('#exporttoexcel').click((e) => {
    //    e.preventDefault();
    //    var table = $('#tblSubscribers').DataTable();
    //    table.button('.buttons-excel').trigger();
    //})
    $(function () {
        $(function () {
            //$("#dlgActiveContact").dialog({
            //    autoOpen: false,
            //    modal: true,
            //    show: {
            //        effect: "blind",
            //        duration: 1000
            //    },
            //    hide: {
            //        effect: "explode",
            //        duration: 1000
            //    },
            //    buttons: {
            //        Ok: function () {
            //            $(this).dialog("close");
            //        }
            //    }
            //});

            $("#dlgSiteAccess").dialog({
                autoOpen: false,
                modal: true,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });

            //$("#opener").on("click", function () {
            //    $("#dlgActiveContact").dialog("open");
            //});
            $("#opener1").on("click", function () {
                $("#dlgSiteAccess").dialog("open");
            });
        });
    });
</script>


